/DAV2
/depth_anything_v2

/depth_results
/checkpoints
/results
/results_after_CLAHE
/results_raw
/billboards
/billboards_after_CLAHE

/metric_depth/checkpoints
/metric_depth/depth_anything_v2
/metric_depth/results
/metric_depth/results_after_CLAHE
/metric_depth/results_raw
/metric_depth/billboards
/metric_depth/billboards_after_CLAHE
/depth_results/*.csv